<!doctype html>
<html lang="en">

<head> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"
  <meta name="description" content="personal portfolio and blog">
  <meta name="author" content="Prince Bett @kodesafi">
  <title> Kodesafi </title>
</head>

<body>
  <main class="main">
    <nav> 
      <h4 class="title"> Kodesafi </h4>
      <ul> 
        <li><a href="about.html">about me</a></li>
        <li><a href="projects.html">projects</a></li>
        <li><a href="blog.html">blog</a></li>
      </ul>
    </nav>

    <section class="content">
      {% block content %} {% endblock %}

      <footer>
        <p> &#169; kodesafi 2023 </p>
      </footer>
    </section>
  </main>
</body>

</html>
