{% extends "base.html" %}

{% block content %}

<h1> Hi there, </h1>

I'm <em>Prince Bett</em> aka <em> kodesafi </em>. I love exploring the 
depths of hard problems and building low level code. I am also a musician, conductor 
and avid flautist.

<h1> Projects, </h1> 

some of the things I am proud of are: 

<ul> 
  <li><a href="https://gitlab.com/kodesafi/voronoi"> Voronoi diagram generator </a></li>
  <li><a href="https://gitlab.com/kodesafi/mandala"> GPU rendered mandala </a></li>
  <li><a href="https://gitlab.com/kodesafi/decoy"> QOI image decoder </a></li>
</ul>

<h1> Blog </h1>

{% set section = get_section(path="posts/_index.md") %}

<h1 class="title"> {{ section.title }} </h1>
<ul> 
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>

{% endblock content %}